<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>841219069006-nmd0g3ht66ubur9bvfh99cl2rdkiv5jm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.841219069006-nmd0g3ht66ubur9bvfh99cl2rdkiv5jm</string>
	<key>API_KEY</key>
	<string>AIzaSyB5FPtqO6zh6Fzrnd_ZGOfKNmc7u0mq1Nw</string>
	<key>GCM_SENDER_ID</key>
	<string>841219069006</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.liercesantos.oquetemprahoje</string>
	<key>PROJECT_ID</key>
	<string>influtter-3ddf5</string>
	<key>STORAGE_BUCKET</key>
	<string>influtter-3ddf5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:841219069006:ios:1d47985e2c577444631f1f</string>
</dict>
</plist>